@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

.box {
    color: white;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding: 15px;
    /*
    width: 400px;
    flex-wrap: wrap;
    flex-direction: row;
    =
    flex-flow: row wrap;
    order - use on children - by default, order value is 0
    .box1 { background: #eccc68; order 1}

    justify-content:center; is used to align items along the MAIN axis, is this instance, to the centre
    align items: flex-start; is used to align items along the CROSS axis, is this instance, in the corner at the top
    align-self: flex-end; used on items rather than the container = .box1 { background: #eccc68; align-self: flex-end;}
        this will allow the alignment of individual children
    
    flex property = flex-basis, flex-grow, flex-shrink
    box1 { background: #eccc68; flex-grow: 1;} - will make box1 take up all the remaining white space or "positive space"
    */
}

/* Colours for each box */

.box1 { background: #eccc68; }
.box2 { background: #ff6348; }
.box3 { background: #ff7f50; }
.box4 { background: #ff4757; }
.box5 { background: #f1c40f; }
.box6 { background: #e67e22; }
.box7 { background: #2ed573; }
.box8 { background: #1e90ff; }
.box9 { background: #c56cf0; }
.box10 { background: #18dcff; }
